{% extends 'base.html' %} {% block title %}Detalle del Vehículo{% endblock %}
{%block content %}
<div class="detail-container">
  <h2>{{ historialkilometraje.tipo }}</h2>
  <p><strong>Vehiculo:</strong> {{ historialkilometraje.vehiculo}}</p>
  <p><strong>Placa:</strong> {{ historialkilometraje.vehiculo.numero_placa}}</p>
  <p><strong>Fecha:</strong> {{ historialkilometraje.fecha }}</p>
  <p><strong>Kilometraje:</strong> {{ historialkilometraje.kilometraje }}</p>
  <div class="table-actions">
    <a href="{% url 'kilometraje_update' historialkilometraje.pk %}">Editar</a>
    <a href="{% url 'kilometraje_delete' historialkilometraje.pk %}">Eliminar</a>
    <a href="{% url 'kilometraje_list' %}">Volver</a>
  </div>
</div>
{% endblock %}
