{% extends 'base.html' %} {% block title %} {% if object %}Editar
Mantenimiento{%else %}Nuevo Mantenimiento{% endif %}{% endblock %}
{% block content %}
<div class="form-container">
  <h1>
    {% if object %}Editar Mantenimiento{% else %}Nuevo Mantenimiento{% endif %}
  </h1>
  <form method="post">
    {% csrf_token %} {{ form.as_p }}
    <div class="form-actions">
      <button type="submit" class="btn">Guardar</button>
      <a href="{% url 'mantenimiento_list' %}" class="btn">Cancelar</a>
    </div>
  </form>
</div>
{% endblock %}
