{% extends 'base.html' %}


{% block title_content %}
{% block title %}
Lista de Proveedores
{% endblock %}
{% endblock %}

{%block content %}

<a class="btn btn-primary btn-margin" href="{% url 'proveedor_create' %}"
  >Agregar</a
>
<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Ruc</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for proveedor in proveedor_list %}
      <tr>
        <td>{{ proveedor.nombre }}</td>
        <td>{{ proveedor.ruc }}</td>
        <td class="table-actions">
          <a href="{% url 'proveedor_detail' proveedor.pk %}">Ver</a>
          <a href="{% url 'proveedor_update' proveedor.pk %}">Editar</a>
          <a href="{% url 'proveedor_delete' proveedor.pk %}">Eliminar</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
