{% extends 'base.html' %}

{% block title_content %}
{% block title %}
Lista de Tipos de Mantenimiento
{% endblock %}
{% endblock %}

{% block content %}

    <a class="btn btn-primary btn-margin" href="{% url 'tipo_mantenimiento_create' %}">Agregar</a>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for tipo in tipomantenimiento_list %}
                <tr onclick="window.location.href='{% url "tipo_mantenimiento_detail" tipo.pk %}'" >
                    <td>{{ tipo.nombre }}</td>
                    <td>{{ tipo.descripcion }}</td>
                    <td class="table-actions">
                        <a href="{% url 'tipo_mantenimiento_update' tipo.pk %}">Editar</a>
                        <a href="{% url 'tipo_mantenimiento_delete' tipo.pk %}">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

