{% extends 'base.html' %}

{% block title %}Detalle del Tipo de Mantenimiento{% endblock %}

{% block content %}
    <div class="detail-container">
        <h2>{{ object.nombre }}</h2>
        <p><strong>Descripción:</strong> {{ object.descripcion }}</p>
        <div class="table-actions">
            <a href="{% url 'tipo_mantenimiento_update' object.pk %}">Editar</a>
            <a href="{% url 'tipo_mantenimiento_delete' object.pk %}">Eliminar</a>
            <a href="{% url 'tipo_mantenimiento_list' %}">Volver</a>
        </div>
    </div>
{% endblock %}


