@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    
}

.login-container {
    max-width: 400px;
    margin: 5em auto;
    padding: 2em;
    background-color: #fff;
    border-radius: 1em;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.1);
}

.login-container h1 {
    text-align: center;
    margin-bottom: 1.5em;
    font-family: 'Bakbak One', cursive;
}

.login-container .form-group {
    margin-bottom: 1.5em;
}

.login-container .form-group label {
    display: block;
    margin-bottom: 0.5em;
    font-weight: bold;
}

.login-container .form-group input {
    width: 100%;
    padding: 0.75em;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    font-size: 1em;
}

.login-container .btn {
    display: block;
    width: 100%;
    padding: 0.75em;
    background-color: #7fc67d;
    color: #fff;
    border: none;
    border-radius: 0.5em;
    font-size: 1.2em;
    cursor: pointer;
    text-align: center;
}

.login-container .btn:hover {
    background-color: #6bbf6b;
}




table th, table td {
    padding: 1em;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #7fc67d;
    color: white;
}




.form-container {
    max-width: 600px;
    margin: 1em auto;
    padding: 2em;
    background-color: #fff;
    border-radius: 1em;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.1);
}

.form-container h1 {
    text-align: center;
    margin-bottom: 1em;
    font-family: 'Bakbak One', cursive;
}

.form-container .form-group {
    margin-bottom: 1.5em;
}

.form-container .form-group label {
    display: block;
    margin-bottom: 0.5em;
    font-weight: bold;
}

.form-container .form-group input,
.form-container .form-group select,
.form-container .form-group textarea {
    width: 100%;
    padding: 0.75em;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    font-size: 1em;
}



label {
    font-weight: bold;
    margin-bottom: 0.5em;
    display: block;
}

.form-container p {
    margin-bottom: 1.5em;
    font-size: 1.1em;
}

.form-container p label {
    display: block;
    margin-bottom: 0.5em;
    font-weight: bold;
}

.form-container p input,
.form-container p select,
.form-container p textarea {
    width: 100%;
    padding: 0.75em;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    font-size: 1em;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.form-container p input:focus,
.form-container p select:focus,
.form-container p textarea:focus {
    border-color: #7fc67d;
    box-shadow: 0 0 5px rgba(127, 198, 125, 0.5);
    outline: none;
}

.form-container .btn {
    display: block;
    width: 100%;
    padding: 0.75em;
    background-color: #7fc67d;
    color: #fff;
    border: none;
    border-radius: 0.5em;
    font-size: 1.2em;
    cursor: pointer;
    text-align: center;
    margin-top: 1em;
    text-decoration: none;
}

.form-container .btn:hover {
    background-color: #6bbf6b;
}

.form-actions {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.detail-container {
    max-width: 600px;
    margin: 2em auto;
    padding: 2em;
    background-color: #fff;
    border-radius: 1em;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.1);
}

.detail-container h1 {
    text-align: center;
    margin-bottom: 1.5em;
    font-family: 'Bakbak One', cursive;
}

.detail-container h2 {
    text-align: center;
    margin-bottom: 1em;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    color: #333;
}

.detail-container p {
    margin-bottom: 1em;
    font-size: 1.1em;
    color: #555;
}

.detail-container p strong {
    font-weight: bold;
    color: #333;
}

.detail-container{
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 2em;
}


.btn-primary {
    display: inline-block;
    padding: 0.75em 1.5em;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0.5em;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    margin: 1em 0; /* Agregar márgenes superior e inferior */
}

.btn-primary:hover {
    background-color: #0056b3;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin: 1em;

}
.card {
   
    background-color: #fff;
    border-radius: 0.5em;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.1);
    padding: 1.3em;
    flex: 1 1 calc(25% - 1em);
    box-sizing: border-box;
    
}
.card h2 {
    font-size: 1.3em;
    margin-bottom: 0.5em;
}

.card p, .card ul {
    font-size: 1.5em;
    color: #555;
    
}
.card ul {
    font-size: 1.5em;
    list-style-type: none;
    padding: 0;
}
.card ul li {
    margin-bottom: 0.5em;
}

.monto_mensual p {
    font-size: 2em;
    margin-top: 1em;
    text-align: center;

    
}

.chart-container {
    width: 70%;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
}

ul.errorlist {
    color: red;
    margin-bottom: 2em;
}

