{% extends 'layouts/base.html' %}
{% block title %}{{ object|default:'Nuevo' }}{% endblock %}
{% block content %}

<h1>{% if object %}Editar{% else %}Nuevo{% endif %} Carro</h1>
<div class="form-container">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="action-buttons">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <button class="delete">

                <a href="{% url 'car_list' %}" >Cancelar</a>
            </button>
        </div>
    </form>
</div>

{% endblock %}
