<!DOCTYPE html>
<html lang="es">
  <head>
    <title>{% block title %}Sermin{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    
  </head>
  <body>
    <header>
      <img class="logo" src="{% static 'img/logo.svg'%}" alt="logo de sermin" />
      <nav>
        <ul class="nav_links">
          <li><a href="{% url 'home' %}">Sermin</a></li>
          
        </ul>
      </nav>
      <a class="perfil" href="{% url 'logout' %}"><img class="logo" src="{% static 'img/logout.svg'%}" alt="icono para cerrar sesion" /></a>
      
      
    </header>

   {% comment %} incluimos el navbar a la plantilla base {% endcomment %}
    {% include 'components/navbar.html' %}


    
    
    <main>
      {% comment %} titulo del contenido {% endcomment %}
      <h1>
        {% block title_content %}
        
        {% endblock %}
      </h1>

      {% comment %} {% if not request.resolver_match.url_name == 'home' and not pk %} {% endcomment %}
      {% if request.resolver_match.url_name == 'vehiculo_list' or  request.resolver_match.url_name == 'tipo_mantenimiento_list' or request.resolver_match.url_name == 'mantenimiento_list' or request.resolver_match.url_name == 'documento_list' or request.resolver_match.url_name == 'proveedor_list' or request.resolver_match.url_name == 'kilometraje_list' %}
        
        <form action="{% url request.resolver_match.url_name %}" method="get">
        <input type="text" name="buscador" placeholder="Buscar..." >
        <button class="btn btn-primary btn-margin" type="submit">Buscar</button>
        

      {% endif %}

      <div class="container">
        {% block content %}

        {% endblock %}
      </div>
    </main>
    {% block extra_js %}
    {% endblock %}
    
  </body>
</html>
